# Virtual Environment
.venv

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# outputs
data/bronze/
data/silver/
data/gold/
data/quarantine/
data/quality/
warehouse.duckdb

# Jupyter
.ipynb_checkpoints/
